.blog {
    background-color: darken($color-light, 7%);
    .container {
        padding-right: $gap * 2;
        padding-left: $gap * 2;
    }

    @extend %section;

    &__title {
        @extend %section-title;
    }

    &__description {
        @extend %section-description;
    }
}

.blog-item {

    &__image {
        padding: 0;
        overflow: hidden;
        img {
            width: 100%;
            filter: saturate(0.5);
            transition: filter 0.5s, transform 0.5s;

            @include md {
                margin-top: -10%;
                margin-bottom: -35%;
            }
        }
    }

    &__post {
        padding-top: 15px;
        padding-bottom: 15px;
        transition: background-color 0.25s;
        background-color: $color-light;
    }

    &__date {
        margin: $gap 0;
        color: lighten($color-gray, 10%);
        font-size: 0.875rem;
    }

    &__excert {
        color: $color-gray;
        font-size: 0.875rem;

        @include md-min {
            margin: $gap 0 0;
        }
        @include md {
            margin: $gap 0 ($gap * 2);
        }
    }

    a {
        &:hover,
        &:focus {
            .blog-item__image {
                img {
                    transform: scale(1.25);
                    filter: saturate(1.25);
                }
            }
            .blog-item__post {
                background-color: $color-accent;
            }
            .blog-item__title {
                color: $color-light;
            }
            .blog-item__date {
                color: $color-light;
            }
            .blog-item__excert {
                color: $color-light;
            }
        }
    }
}